:host {
    border-bottom: 2px solid #aeaeae;
    height: 50px;
    display: block;
    width: 100%;
}

button {
    border: none;
    font-size: 24px;
    height: 100%;
    width: 150px;
}

button:hover {
    background: #ff2d34;
    color: #fff;
}

button:active {
    background: #d42b2f;
    color: #fff;
}