:host {
    border-bottom: 2px solid #aeaeae;
    height: 50px;
    display: block;
    width: 100%;
}

button {
    border: none;
    cursor: default;
    font-size: 24px;
    height: 100%;
    min-width: 150px;
    width: fit-content;
}

button.active {
    cursor: pointer;
}

button:hover.active {
    background: #ff2d34;
    color: #fff;
}

button:active.active {
    background: #d42b2f;
    color: #fff;
}