<div class="course block">
  <div class="body">
    <div class="header justify">
      <div>{{course.title}}</div>
      <div class="metadata">
        <div>{{course.getDuration()}}</div>
        <div>{{course.creationDate | date: "MM.dd.y"}}</div>
      </div>
    </div>
    <div class="description">{{course.description}}</div>
  </div>
  <div class="actions">
    <div class="action edit">
      <img src="assets/images/edit.png" alt="Edit">
      <div>Edit</div>
    </div>
    <div class="action delete" (click)="deleteCourse(course.id)">
      <img src="assets/images/delete.png" alt="Delete">
      <div>Delete</div>
    </div>
  </div>
</div>