:host {
    display: block;
    padding: 0 15px;
    width: auto;
}

.top-rated {
    background: #ffd;
}

.block {
    border: 2px solid #000;
    margin: 15px;
}

.block:first-child {
    margin: 0 15px 15px;
}

.block:last-child {
    margin: 15px 15px 0;
}

.course .body {
    width: 88%;
}

.course .body > * {
    margin: 5px 0;
}

.course .body .header {
    font-size: 23px;
    height: 35px;
}

.course .body .header img {
    height: 50%;
    margin: 0 10px;
}

.course .body .header .metadata > * {
    padding: 0 10px;
}

.course .body .description {
    height: 50px;
    overflow: hidden;
}

.course .actions {
    float: right;
}

.course .actions > * {
    margin: 10px;
}