:host {
  display: grid;
	height: 70%;
}

button {
	font-size: 16px;
}

button:hover,
button:active {
	color: #fff;
}

button.confirm:hover {
	background: #449d44;
}

button.confirm:active {
	background: #398439;
}

button.confirm:disabled {
	background: #fff;
	color: #000;
	cursor: not-allowed;
}

button.cancel:hover {
	background: #d9534f;
}

button.cancel:active {
	background: #c9302c;
}

button:not(:first-child) {
  margin: 0 20px;
}