<div class="form-submit form-validation">
  <div class="field">
    <label class="required" for="title">Title</label>
    <input type="text" id="title" name="title" [(ngModel)]="title" required/>
  </div>
  <div class="field">
    <label class="required" for="description">Description</label>
    <textarea id="description" name="description" [(ngModel)]="description" required></textarea>
  </div>
  <app-date [(date)]="date"></app-date>
  <app-duration [(duration)]="duration"></app-duration>
  <app-authors [(authors)]="authors"></app-authors>
  <div>
    <button class="submit" [disabled]="!isFormValid()" (click)="saveCourse()">Save</button>
    <button class="cancel" [routerLink]="['/courses']">Cancel</button>
  </div>
</div>