<form class="form-submit form-validation" #courseForm="ngForm">
  <div class="field">
    <label for="title">Title: </label>
    <app-control-message [control]="title" class="error-msg"></app-control-message>
    <input type="text" id="title" name="title" [(ngModel)]="course.title" #title="ngModel" required maxlength="50" />
  </div>
  <div class="field">
    <label for="description">Description: </label>
    <app-control-message [control]="description" class="error-msg"></app-control-message>
    <textarea id="description" name="description" [(ngModel)]="course.description" #description="ngModel" required maxlength="500"></textarea>
  </div>
  <div class="field mini">
    <label for="date">Date: </label>
    <app-control-message [control]="date" class="error-msg"></app-control-message>
    <app-date id="date" name="date" [(ngModel)]="course.date" #date="ngModel" required appDateRegexp="dd/MM/yyyy"></app-date>
  </div>
  <div class="field mini">
    <label for="duration">Duration: </label>
    <app-control-message [control]="duration" class="error-msg"></app-control-message>
    <app-duration id="duration" name="duration" [(ngModel)]="course.duration" #duration="ngModel" required appNumber></app-duration>
  </div>
  <app-authors [(authors)]="course.authors"></app-authors>
  <div>
    <button class="submit" [disabled]="!courseForm.valid" (click)="saveCourse()">Save</button>
    <button class="cancel" [routerLink]="['/courses']">Cancel</button>
  </div>
</form>