<div class="form-submit form-validation" [formGroup]="courseFormGroup">
  <div class="field">
    <label for="title">Title: </label>
    <app-control-message [control]="courseFormGroup.controls.title" class="error-msg"></app-control-message>
    <input type="text" id="title" name="title" formControlName="title" />
  </div>
  <div class="field">
    <label for="description">Description: </label>
    <app-control-message [control]="courseFormGroup.controls.description" class="error-msg"></app-control-message>
    <textarea id="description" name="description" formControlName="description"></textarea>
  </div>
  <app-date [(date)]="date"></app-date>
  <div class="field mini">
    <label for="duration">Duration: </label>
    <app-control-message [control]="duration" class="error-msg"></app-control-message>
    <app-duration id="duration" name="duration" required appIsNumber></app-duration>
  </div>
  <app-authors [(authors)]="authors"></app-authors>
  <div>
    <button class="submit" [disabled]="!isFormValid()" (click)="saveCourse()">Save</button>
    <button class="cancel" [routerLink]="['/courses']">Cancel</button>
  </div>
</div>