<form #loginForm="ngForm" class="form-submit form-validation" (ngSubmit)="login()" [formGroup]="user">
  <fieldset>
    <div class="header">
      <div>Login</div>
      <hr>
    </div>
    <div class="body">
      <div class="field">
        <label for="login">Login</label>
        <app-control-message [control]="user.controls.login" class="error-msg"></app-control-message>
        <input type="text" id="login" name="login" formControlName="login" placeholder="Please enter login"/>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <app-control-message [control]="user.controls.password" class="error-msg"></app-control-message>
        <input type="password" id="password" name="password" formControlName="password" placeholder="Please enter password"/>
      </div>
      <div>
        <button type="submit" class="submit" [disabled]="!loginForm.form.valid">Login</button>
      </div>
      <div class="error-msg" [hidden]="!errorMessage">{{errorMessage}}</div>
    </div>
  </fieldset>
</form>