:host {
  display: grid;
	height: 70%;
}

button {
	font-size: 16px;
}

button:hover,
button:active {
	color: #fff;
}

button.submit:hover {
	background: #337ab7;
}

button.submit:active {
	background: #286090;
}

button.submit:disabled {
	background: #fff;
	color: #000;
	cursor: not-allowed;
}