<form class="form-submit form-validation" (ngSubmit)="login()">
  <fieldset>
    <div class="header">
      <div>Login</div>
      <hr>
    </div>
    <div class="body">
      <div class="field">
        <label class="required" for="login">Login</label>
        <input type="text" id="login" name="login" placeholder="Please enter login" [(ngModel)]="_login" required/>
      </div>
      <div class="field">
        <label class="required" for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Please enter password" [(ngModel)]="password" required/>
      </div>
      <div>
        <button type="submit" class="submit" [disabled]="!_login || !password">Login</button>
      </div>
      <div class="error" [hidden]="!errorMessage">{{errorMessage}}</div>
    </div>
  </fieldset>
</form>