<div [appReleaseBorder]="course.creationDate" [ngClass]="{'top-rated': course.topRated}" class="course block">
  <div class="body">
    <div class="header justify">
      <div>
        <div id="title">{{course.title | uppercase}}</div>
        <img [hidden]="!course.topRated" src="assets/images/star.png" alt="Star">
      </div>
      <div class="metadata">
        <div id="duration">{{course.duration | duration}}</div>
        <div id="creationDate">{{course.creationDate | date: "MM.dd.y"}}</div>
      </div>
    </div>
    <div id="description" class="description">{{course.description}}</div>
  </div>
  <div class="actions">
    <div class="action edit">
      <img src="assets/images/edit.png" alt="Edit">
      <div>Edit</div>
    </div>
    <div class="action delete" (click)="deleteCourse()">
      <img src="assets/images/delete.png" alt="Delete">
      <div>Delete</div>
    </div>
  </div>
</div>