html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
}

* {
    font-family: cursive;
}

.action {
    border: 1px solid #000;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
}

.action > * {
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    vertical-align: middle;
}

.action.add:hover {
    background: #649f39;
    color: #fff;
}

.action.add:active {
    background: #33691e;
    color: #fff;
}

.block > * {
    margin: 0 15px;
}

.justify {
    align-items: center;
    display: flex;
    font-size: 30px;
    height: 100%;
    justify-content: space-between;
}

.justify > div {
    display: flex;
    height: 100%;
}